<h1>Welcome <%= @user.name %>!</h1>


<a class="new-book-button" href="/users/<%= @user.id %>/books/new">
  <button id="add-book-button">Add a book!</button>
</a>

<div>
  <% @books.each do |book| %>
    <%= erb :"books/_list_book", locals: { book: book } %>
  <% end %>
</div>

<a href="/sessions/new"><button>Logout</button></a>

<div id="book-form-holder"></div>

